<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="config" default="baseline"  doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>
	<arg name="local" default="false" doc="true to launch locally on laptop. false to launch of vehicle"/>
	<arg name="pkg_name" default="ttt1" doc="name of the package"/>
	<arg name="node_name1" default="ttt1" doc="name of the node"/>
    <arg name="node_name2" default="ttt2" doc="name of the node"/>
    <group ns="$(arg veh)">
	   <node if="$(arg local)" pkg="$(arg pkg_name)" type="$(arg node_name1).py" name="$(arg node_name1)" output="screen" clear_params="true" required="true"></node>
       <node if="$(arg local)" pkg="$(arg pkg_name)" type="$(arg node_name2).py" name="$(arg node_name2)" output="screen" clear_params="true" required="true"></node>
	   <include unless="$(arg local)" file="$(find duckietown)/machines"/>
	   <node unless="$(arg local)" machine="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name1).py" name="$(arg node_name1)" output="screen" clear_params="true" required="true"></node>
	   <node unless="$(arg local)" machine="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name2).py" name="$(arg node_name2)" output="screen" clear_params="true" required="true"></node>

    </group>
</launch>






